<div class="px-4 py-5 my-2 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Файл не знайдено!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Файл до якого ви звертаєтесь не знайдено.</p>
    </div>
</div>
