{% block status %}
    <h3>Замовлення скасовано</h3>
    <p class="m-3">У разі скасування замовлення сплачувати його не потрібно.
        <br><br><small class="text-muted">Зв'яжіться з нами якщо ви хочете поновити та сплатити замовлення.</small>
    </p>
{% endblock %}
