{% block status %}
    <h3>Готуємо замовлення до оплати</h3>
    <p class="m-3">Ми працюємо над тим, щоб надати вам платіжні реквізити або інший спосіб оплати.
        <br>Будь ласка, оновіть цю сторінку через деякий час.
        <br><br><small class="text-muted">Зв'яжіться з нами якщо вам не вдається сплатити замовлення.</small>
    </p>
{% endblock %}
