{% block status %}
    <h5 class="mt-3">Сервіс онлайн оплати недоступний</h5>
    <p class="m-3">
        Виберіть інший спосіб оплати або оновіть цю сторінку через деякий час.
        <br><br><small class="text-muted">Зв'яжіться з нами якщо це повідомлення бачите не вперший раз.</small>
    </p>
{% endblock %}
