<p class="mt-3 card p-3">
    <strong>{{ lang.cabinet_orders_empty }}</strong>
    <span class="d-block text-muted small">{{ lang.cabinet_orders_empty_tip }} {{ details.email }}</span>
</p>

<figure class="border rounded p-3">
    <blockquote class="blockquote">
        <p>Все що потрібно для мрії в тебе є, тепер просто дій.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Т.Г.Шевченко
    </figcaption>
    <p class="text-center">
        <a class="btn btn-primary d-block d-md-inline" href="[(site_url)]">{{ lang.action_starttobuy }}</a>
    </p>
</figure>
