<div class="row">
    <div class="col-12 col-lg-4">
        {{ include('cabinet_user.html.twig')|raw }}
    </div>
    <div class="col-12 col-lg-8">
        {{ include('cabinet_list.html.twig')|raw }}
    </div>
</div>