<div id="shopCart" class="text-center">
    <a class="nav-link text-center" data-bs-toggle="dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" title="Наповнюйте корзину товарами" style="color: #fccb04;">
        <i class="bi bi-cart-plus cart iconuser"></i>
        <span class="d-none d-lg-block small">{{ lang.cart_title }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <div class="px-1 py-2">
            <p class="dropdown-header h5"><b>В кошику ще немає товарів</b></p>
            <p class="dropdown-header h6">Наповнюйте корзинку - тисніть кнопку<br><b>Купити</b> біля кожного товару,<br>і тут буде перелік товарів</p>
        </div>
    </div>
</div>
