<div class="p-3" id="emptyCart">
    <p><span class="h5 py-0">В кошику ще немає товарів.</span></p>
    <p>Наповнюйте кошик - тисніть кнопку Купити біля кожного товару, та замість цього повідомлення з`явиться перелік товарів.</p>
</div>
