<div class="modal fade" id="dlgUgoda" tabindex="-1" aria-labelledby="dlgUgodaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="dlgUgodapLabel">{{ lang.agreement }}</h3>
                <button type="button" class="btn-close border-0 text-primary bg-white" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle iconuser d-none"></i>
                </button>
            </div>
            <div class="modal-body">
                <p class="fw-light">
                    На виконання вимог Закону України "Про захист персональних даних" даю згоду Продавцю, а також його відокремленим підрозділам на обробку моїх персональних даних
                    з метою забезпечення реалізації цивільно-правових відносин, надання/отримання та здійснення розрахунків за придбані товари/послуги.
                    <br><br>
                    Ця згода чинна з моменту її акцептування, та протягом одного року.
                    <br><br>
                    Крім того, я підтверджую, що я повідомлений/а (без додаткового письмового повідомлення) про права, встановлені Законом України "Про захист персональних даних",
                    мету збору даних та про те, що мої персональні дані передаються Продавцю з метою надання, отримання та здійснення розрахунків за придбані товари/послуги, а
                    також ознайомлений з <a href="/polojenya-pro-obrobku-i-zahist.html" target=_blank>положенням про обробку і захист персональних даних у базах персональних даних,
                        володільцем яких є продавець</a>.
                    <br><br>
                    Я погоджуюсь з тим, що Продавець має право надавати доступ та передавати мої персональні дані третім особам без будь-яких додаткових повідомлень, не змінюючи
                    при цьому мети їх обробки. В тому числі, на перевірку зазначеної в даній Заявці інформації та не заперечую про передачу для можливого необхідного з'ясування
                    даної інформації третім особам, під якими розумію: организації які займаються перевезенням та доставкою вантажу, фінансові установи (поштові переводи),
                    оператори мобільного та поштового зв’язку, інші фізичні та/або юридичні особи.
                </p>
            </div>
        </div>
    </div>
</div>
