<p>Information about your order was available here, but now it is accessible in your <a href="/account">personal account</a> or via the link provided by our managers.</p>
<p>And just in case, remember the working hours of the online order processing department:</p>
<ul>
    <li>Monday-Friday: from 10:00 to 19:00</li>
    <li>Saturday-Sunday: from 10:00 to 18:00</li>
</ul>
<p>Have a great day!</p>
