<div class="p-3" id="emptyCart">
    <p><span class="h5 py-0">There are no product in the cart yet.</span></p>
    <p>Fill your cart - click the “Buy” button next to each product you like, and a shopping list will appear instead of this message.</p>
</div>
