<div class="modal" id="dlgErrorModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-bg-warning">
                <div class="d-flex align-items-center">
                    <strong><span>{{ lang.error }}...</span></strong>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="dlgError" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-bg-danger">
                <div class="d-flex align-items-center">
                    <strong><span>{{ lang.error }}...</span></strong>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
